*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(172, 135, 235);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#addbtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}
.note{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    margin: 15px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 55px;
}
.tool{
    width:100%;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    height: 32px;
    color: white;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 10px;
    font-size: 18px;
}
.note textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
}
.note textarea:focus{
    border:none;
    outline:1;
} 